
  #quiz-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
    margin: 40px auto;
  }
  
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 10px;
    cursor: pointer;
  }

 

  button {
    padding: 10px 20px;
    background: #ff66b3;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
  }